<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('Catalogs') %}}
          <small>{{%= __('Catalogs') %}}</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="/">{{%= __('Dashboard') %}}</a>
          </li>
          <li class="breadcrumb-item active">{{%= __('Catalogs') %}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-primary elevation-1"
            ><i class="fas fa-book"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">{{%= __('Categories') %}}</span>
            <span class="info-box-number">
              {{%= categories.length %}}
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-primary elevation-1"
            ><i class="fas fa-book"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">{{%= __('Subcategories') %}}</span>
            <span class="info-box-number">{{%= subcategories.length %}}</span>
          </div>
        </div>
      </div>

      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-primary elevation-1"
            ><i class="fas fa-book"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">{{%= __('Measurement units') %}}</span>
            <span
              class="info-box-number"
              >{{%= measurement_units.length %}}</span
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-primary elevation-1"
            ><i class="far fa-copyright"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">{{%= __('Brands') %}}</span>
            <span class="info-box-number">{{%= brands.length %}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-book"></i>
              {{%= __('Categories') %}}
            </h3>
            <div class="card-tools">
              <a
                href="#"
                data-target="#modalCreateCategory"
                data-toggle="modal"
                class="btn btn-success"
                title="{{%= __('New Category') %}}"
              >
                <i class="fas fa-plus"></i> &nbsp; {{%= __('New Category') %}}
              </a>
            </div>
          </div>
          <div class="card-body">
            <table
              class="table dataTable dataTableConfig dtr-inline"
              aria-describedby="dataTableConfig_info"
            >
              <thead>
                <tr role="row">
                  <th>#</th>
                  <th>{{%= __('Name') %}}</th>
                  <th>{{%= __('Description') %}}</th>
                  <th>{{%= __('Actions') %}}</th>
                </tr>
              </thead>
              <tbody>
                {{% categories.forEach((row, i) => { %}}
                <tr class="odd">
                  <td>{{%= i + 1 %}}</td>
                  <td>{{%= row.name %}}</td>
                  <td>{{%= row.description %}}</td>
                  <td>
                    <div class="column-actions">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalDeleteCategory"
                        data-id="{{%= row.id_category %}}"
                        class="btn btn-danger btn-xs"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </a>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalEditCategory"
                        data-row="{{%= JSON.stringify(row) %}}"
                        data-id="{{%= row.id_category %}}"
                        class="btn btn-warning btn-xs"
                      >
                        <i class="fas fa-pen"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {{% }) %}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-book"></i>
              {{%= __('Measurement units') %}}
            </h3>
            <div class="card-tools">
              <a
                href="#"
                data-target="#modalCreateMeasurementunit"
                data-toggle="modal"
                class="btn btn-success"
                title="{{%= __('New Measurement Unit') %}}"
              >
                <i class="fas fa-plus"></i> &nbsp;
                {{%= __('New Measurement Unit') %}}
              </a>
            </div>
          </div>
          <div class="card-body">
            <table
              class="table dataTable dataTableConfig dtr-inline"
              aria-describedby="dataTableConfig_info"
            >
              <thead>
                <tr role="row">
                  <th>#</th>
                  <th>{{%= __('Name') %}}</th>
                  <th>{{%= __('Code') %}}</th>
                  <th>{{%= __('Actions') %}}</th>
                </tr>
              </thead>
              <tbody>
                {{% measurement_units.forEach((row, i) => { %}}
                <tr class="odd">
                  <td>{{%= i + 1 %}}</td>
                  <td>{{%= row.name %}}</td>
                  <td>{{%= row.code %}}</td>
                  <td>
                    <div class="column-actions">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalDeleteMeasurementunit"
                        data-id="{{%= row.id_measurement_unit %}}"
                        class="btn btn-danger btn-xs"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </a>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalEditMeasurementunit"
                        data-row="{{%= JSON.stringify(row) %}}"
                        data-id="{{%= row.id_measurement_unit %}}"
                        class="btn btn-warning btn-xs"
                      >
                        <i class="fas fa-pen"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {{% }) %}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-book"></i>
              {{%= __('Subcategories') %}}
            </h3>
            <div class="card-tools">
              <a
                href="#"
                data-target="#modalCreateSubcategory"
                data-toggle="modal"
                class="btn btn-success"
                title="{{%= __('New Subcategory') %}}"
              >
                <i class="fas fa-plus"></i> &nbsp;
                {{%= __('New Subcategory') %}}
              </a>
            </div>
          </div>
          <div class="card-body">
            <table
              class="table dataTable dataTableConfig dtr-inline"
              aria-describedby="dataTableConfig_info"
            >
              <thead>
                <tr role="row">
                  <th>#</th>
                  <th>{{%= __('Name') %}}</th>
                  <th>{{%= __('Description') %}}</th>
                  <th>{{%= __('Category') %}}</th>
                  <th>{{%= __('Actions') %}}</th>
                </tr>
              </thead>
              <tbody>
                {{% subcategories.forEach((row, i) => { %}}
                <tr class="odd">
                  <td>{{%= i + 1 %}}</td>
                  <td>{{%= row.name %}}</td>
                  <td>{{%= row.description %}}</td>
                  <td>{{%= row.category_name %}}</td>
                  <td>
                    <div class="column-actions">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalDeleteSubcategory"
                        data-id="{{%= row.id_subcategory %}}"
                        class="btn btn-danger btn-xs"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </a>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalEditSubcategory"
                        data-row="{{%= JSON.stringify(row) %}}"
                        data-id="{{%= row.id_subcategory %}}"
                        class="btn btn-warning btn-xs"
                      >
                        <i class="fas fa-pen"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {{% }) %}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="far fa-copyright"></i>
              {{%= __('Brands') %}}
            </h3>
            <div class="card-tools">
              <a
                href="#"
                data-target="#modalCreateBrand"
                data-toggle="modal"
                class="btn btn-success"
                title="{{%= __('Catalog') %}}"
              >
                <i class="fas fa-plus"></i> &nbsp; {{%= __('New Brand') %}}
              </a>
            </div>
          </div>
          <div class="card-body">
            <table
              class="table dataTable dataTableConfig dtr-inline"
              aria-describedby="dataTableConfig_info"
            >
              <thead>
                <tr role="row">
                  <th>#</th>
                  <th>{{%= __('Name') %}}</th>
                  <th>{{%= __('Actions') %}}</th>
                </tr>
              </thead>
              <tbody>
                {{% brands.forEach((row, i) => { %}}
                <tr class="odd">
                  <td>{{%= i + 1 %}}</td>
                  <td>{{%= row.name %}}</td>
                  <td>
                    <div class="column-actions">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalDeleteBrand"
                        data-id="{{%= row.id_brand %}}"
                        class="btn btn-danger btn-xs"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </a>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalEditBrand"
                        data-row="{{%= JSON.stringify(row) %}}"
                        data-id="{{%= row.id_brand %}}"
                        class="btn btn-warning btn-xs"
                      >
                        <i class="fas fa-pen"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {{% }) %}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{%- include('../../components/ModalCreate', { idModal: "modalCreateBrand", route:'/dashboard/catalogs/brands', title: "Brand", form: newBrandForm, size: "modal-md" }) %}}
{{%- include('../../components/ModalDelete', { idModal: "modalDeleteBrand", route:['/dashboard/catalogs/brands/','/delete'], title: "Brand" }) %}}
{{%- include('../../components/ModalEdit', { idModal: "modalEditBrand", route: '/dashboard/catalogs/brands/', title: "Brand", form: newBrandForm, size: "modal-md" }) %}}

{{%- include('../../components/ModalCreate', { idModal: "modalCreateCategory", route:'/dashboard/catalogs/categories', title: "Category", form: newCategoryForm, size: "modal-md" }) %}}
{{%- include('../../components/ModalDelete', { idModal: "modalDeleteCategory", route:['/dashboard/catalogs/categories/','/delete'], title: "Category" }) %}}
{{%- include('../../components/ModalEdit', { idModal: "modalEditCategory", route: '/dashboard/catalogs/categories/', title: "Category", form: newCategoryForm, size: "modal-md" }) %}}

{{%- include('../../components/ModalCreate', { idModal: "modalCreateSubcategory", route:'/dashboard/catalogs/subcategories', title: "Subcategory", form: newSubcategoryForm, size: "modal-md" }) %}}
{{%- include('../../components/ModalDelete', { idModal: "modalDeleteSubcategory", route:['/dashboard/catalogs/subcategories/','/delete'], title: "Subcategory" }) %}}
{{%- include('../../components/ModalEdit', { idModal: "modalEditSubcategory", route: '/dashboard/catalogs/subcategories/', title: "Subcategory", form: newSubcategoryForm, size: "modal-md" }) %}}

{{%- include('../../components/ModalCreate', { idModal: "modalCreateMeasurementunit", route:'/dashboard/catalogs/measurement-units', title: "Measurement Unit", form: newMeasurementunitForm, size: "modal-md" }) %}}
{{%- include('../../components/ModalDelete', { idModal: "modalDeleteMeasurementunit", route:['/dashboard/catalogs/measurement-units/','/delete'], title: "Measurement Unit" }) %}}
{{%- include('../../components/ModalEdit', { idModal: "modalEditMeasurementunit", route: '/dashboard/catalogs/measurement-units/', title: "Measurement Unit", form: newMeasurementunitForm, size: "modal-md" }) %}}

<script>
  const openModal = getURLQuery()["openModal"];
  switch (openModal) {
    case "brand":
      $("#modalCreateBrand").modal("toggle");
      break;
    case "category":
      $("#modalCreateCategory").modal("toggle");
      break;
    case "subcategory":
      $("#modalCreateSubcategory").modal("toggle");
      break;
    case "measurementUnit":
      $("#modalCreateMeasurementunit").modal("toggle");
      break;
    default:
      break;
  }
</script>
