<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>
                    {{%= __('Materials') %}}
                    <small>{{%= __('Materials') %}}</small>
                </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">{{%= __('Dashboard') %}}</a></li>
                    <li class="breadcrumb-item active">{{%= __('Materials') %}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-edit"></i>
                            {{%= __('Materials') %}}
                        </h3>
                        <div class="card-tools">
                            <a
                                href="#"
                                data-target="#modalCreate"
                                data-toggle="modal"
                                class="btn btn-success"
                                title="{{%= __('New Material') %}}"
                            >
                                <i class="fas fa-plus"></i> &nbsp; {{%= __('New Material') %}}
                            </a>
                        </div>
                        
                    </div>
                    <div class="card-body">
                        <table
                            class="table table-bordered table-striped dataTable dataTableConfig dtr-inline"
                            aria-describedby="dataTableConfig_info"
                        >
                            <thead>
                                <tr role="row">
                                    <th>#</th>
                                    <th>Head Material</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{% materials.forEach((row, i) => { %}}
                                <tr class="odd">
                                    <td>{{%= i + 1 %}}</td>
                                    <td>Row Material</td>
                                    <td>
                                        <div class="column-actions">
                                            <a
                                                href="#"
                                                data-toggle="modal"
                                                data-target="#modalDelete"
                                                data-id="{{%= row.id_material %}}"
                                                class="btn btn-danger btn-xs"
                                            >
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            <a
                                                href="#"
                                                data-toggle="modal"
                                                data-target="#modalEdit"
                                                data-row="{{%= JSON.stringify(row) %}}"
                                                data-id="{{%= row.id_material %}}"
                                                class="btn btn-warning btn-xs"
                                            >
                                                <i class="fas fa-pen"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {{% }) %}}
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{{%- include('../../components/ModalCreate', { idModal: "modalCreate", route:'/dashboard/dashboard/materials', title: "Material", form: newMaterialForm, size: "modal-lg" }) %}}
{{%- include('../../components/ModalDelete', { idModal: "modalDelete", route:['/dashboard/dashboard/materials/','/delete'], title: "Material" }) %}}
{{%- include('../../components/ModalEdit', { idModal: "modalEdit", route: '/dashboard/dashboard/materials/', title: "Item", form: newMaterialForm, size: "modal-lg" }) %}}
