<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('Sales') %}}
          <small class="text-muted">{{%= __('New Sale') %}}</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="/">{{%= __('Dashboard') %}}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/dashboard/sales">{{%= __('Sales') %}}</a>
          </li>
          <li class="breadcrumb-item active text-muted">
            {{%= __('New Sale') %}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-edit"></i>
              {{%= __('Sale Info') %}}
            </h3>
          </div>
          <div class="card-body">
            <!-- none -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-desktop"></i>
              {{%= __('Sale Products') %}}
            </h3>
            <div class="card-tools">
              <a
                href="#"
                data-target="#modalCreateSale"
                data-toggle="modal"
                class="btn btn-success"
                title="{{%= __('Add Product') %}}"
              >
                <i class="fas fa-plus"></i> &nbsp; {{%= __('Add Product') %}}
              </a>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Head Sale</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Row Sale</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{%- include('../../components/ModalCreate', { idModal: "modalCreateSale", route:'/dashboard/sale', title: "Product", size: "modal-xl" }) %}}
{{%- include('../../components/ModalDelete', { idModal: "modalDeleteSale", route:['/dashboard/sale/','/delete'], title: "Sale" }) %}}
{{%- include('../../components/ModalEdit', { idModal: "modalEditSale", route: '/dashboard/sale/', title: "Product", size: "modal-xl" }) %}}
