<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('Sales') %}}
          <small class="text-muted">{{%= __('List') %}}</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="/">{{%= __('Dashboard') %}}</a>
          </li>
          <li class="breadcrumb-item active text-muted">
            {{%= __('Sales') %}}
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 col-sm-4 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-primary elevation-1"
            ><i class="fas fa-money-check-alt"></i
          ></span>
          <div class="info-box-content">
            <span class="info-box-text">{{%= __('Sales') %}}</span>
            <span class="info-box-number">
              {{%= sales.length %}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-money-check-alt"></i>
              {{%= __('Sales') %}}
            </h3>
            <div class="card-tools">
              <a
                href="/dashboard/sales/new"
                class="btn btn-success"
                title="{{%= __('New Sale') %}}"
              >
                <i class="fas fa-plus"></i> &nbsp; {{%= __('New Sale') %}}
              </a>
            </div>
          </div>
          <div class="card-body">
            <table
              class="
                table table-bordered table-striped
                dataTable
                dataTableConfig
                dtr-inline
              "
              aria-describedby="dataTableConfig_info"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{%= __('Reference Code') %}}</th>
                  <th>{{%= __('Creation Date') %}}</th>
                  <th>{{%= __('Details') %}}</th>
                  <th>{{%= __('Actions') %}}</th>
                </tr>
              </thead>
              <tbody>
                {{% sales.forEach((row, i) => { %}}
                <tr>
                  <td>{{%= i + 1 %}}</td>
                  <td>
                    <a href="/dashboard/sales/{{%= row.id_sale %}}">{{%= row.reference_code %}}</a>
                  </td>
                  <td>{{%= row.creation_date %}}</td>
                  <td>{{%= row.details %}}</td>
                  <td>
                    <div class="column-actions">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalDeleteSale"
                        data-id="{{%= row.id_sale %}}"
                        class="btn btn-danger btn-xs"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </a>
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalEditSale"
                        data-row="{{%= JSON.stringify(row) %}}"
                        data-id="{{%= row.id_sale %}}"
                        class="btn btn-warning btn-xs"
                      >
                        <i class="fas fa-pen"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                {{% }) %}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
