#burst-12 {
  background: var(--main);
  width: 60px;
  height: 60px;
  position: relative;
  text-align: center;
  border-radius: 6px;
}
#burst-12:before,
#burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background: var(--main);
  z-index: 0;
  border-radius: 6px;
}
#burst-12:before {
  transform: rotate(30deg);
}
#burst-12:after {
  transform: rotate(60deg);
}
