<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('Dashboard') %}}
          <small class="text-muted">{{%= __('Statistics') %}}</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">{{%= __('Dashboard') %}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{%= count_components %}}</h3>
            <p>{{%= __('Inventory') %}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-boxes"></i>
          </div>
          <a href="/dashboard/inventory" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-chevron-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{%= count_products %}}</h3>

            <p>{{%= __('Products') %}}</p>
          </div>
          <div class="icon">
            <i class="ion fas fa-desktop"></i>
          </div>
          <a href="/dashboard/products" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-chevron-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>0</h3>

            <p>{{%= __('Sales') %}}</p>
          </div>
          <div class="icon">
            <i class="ion fas fa-money-check-alt"></i>
          </div>
          <a href="#" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-chevron-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{%= count_purchases %}}</h3>

            <p>{{%= __('Purchases') %}}</p>
          </div>
          <div class="icon">
            <i class="ion fas fa-store"></i>
          </div>
          <a href="#" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-chevron-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{%= count_catalogs %}}</h3>

            <p>{{%= __('Catalogs') %}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <a href="/dashboard/catalogs" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-chevron-circle-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
