<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('Dashboard') %}}
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">{{%= __('Dashboard') %}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{%= count_catalogs %}}</h3>

            <p>{{%= __('Catalogs') %}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-book"></i>
          </div>
          <a href="/dashboard/catalogs" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-chevron-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{%= count_components %}}</h3>
            <p>{{%= __('Inventory') %}}</p>
          </div>
          <div class="icon">
            <i class="fas fa-boxes"></i>
          </div>
          <a href="/dashboard/inventory" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-chevron-circle-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{%= count_products %}}</h3>

            <p>{{%= __('Products') %}}</p>
          </div>
          <div class="icon">
            <i class="ion fas fa-microchip"></i>
          </div>
          <a href="/dashboard/products" class="small-box-footer"
            >{{%= __('More info') %}} <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>65</h3>

            <p>Unique Visitors</p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a href="#" class="small-box-footer"
            >More info <i class="fas fa-arrow-circle-right"></i
          ></a>
        </div>
      </div> -->
    </div>
    <!-- <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"
            ><i class="fas fa-cog"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">CPU Traffic</span>
            <span class="info-box-number">
              10
              <small>%</small>
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-danger elevation-1"
            ><i class="fas fa-thumbs-up"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">41,410</span>
          </div>
        </div>
      </div>

      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"
            ><i class="fas fa-shopping-cart"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">Sales</span>
            <span class="info-box-number">760</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"
            ><i class="fas fa-users"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">New Members</span>
            <span class="info-box-number">2,000</span>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-map-marker-alt mr-1"></i>
              Visitors
            </h3>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-primary btn-sm"
                data-card-widget="collapse"
                title="Collapse"
              >
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div id="dashboardAccordion">
              <div class="card card-primary">
                <div class="card-header">
                  <h4 class="card-title w-100">
                    <a
                      class="d-block w-100"
                      data-toggle="collapse"
                      href="#dashboardCollapse1"
                      aria-expanded="true"
                    >
                      Collapsible Group Item #1
                    </a>
                  </h4>
                </div>
                <div
                  id="dashboardCollapse1"
                  class="collapse show"
                  data-parent="#dashboardAccordion"
                >
                  <div class="card-body">CONTENT</div>
                </div>
              </div>
              <div class="card card-success">
                <div class="card-header">
                  <h4 class="card-title w-100">
                    <a
                      class="d-block w-100 collapsed"
                      data-toggle="collapse"
                      href="#dashboardCollapse2"
                      aria-expanded="false"
                    >
                      Collapsible Group Success
                    </a>
                  </h4>
                </div>
                <div
                  id="dashboardCollapse2"
                  class="collapse"
                  data-parent="#dashboardAccordion"
                >
                  <div class="card-body">CONTENT</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
