<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('Products') %}}
          <small class="text-muted">{{%= __('New Product') %}}</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="/">{{%= __('Dashboard') %}}</a>
          </li>
          <li class="breadcrumb-item active">{{%= __('New Product') %}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <form action="/dashboard/products" method="POST">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-edit"></i>
                {{%= __('Product Info') %}}
              </h3>
            </div>
            <div class="card-body">
              {{%- include('../../components/Form', { form: newProductForm}) %}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-microchip"></i>
                {{%= __('Components') %}}
              </h3>
              <div class="card-tools">
                <a
                  href="#"
                  data-target="#modalAddProductComponent"
                  data-toggle="modal"
                  class="btn btn-success"
                  title="{{%= __('Add Component') %}}"
                >
                  <i class="fas fa-plus"></i> &nbsp;
                  {{%= __('Add Component') %}}
                </a>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr role="row">
                    <th>{{%= __('ID') %}}</th>
                    <th>{{%= __('Component') %}}</th>
                    <th>{{%= __('Quantity') %}}</th>
                  </tr>
                </thead>
                <tbody id="tb-product-components"></tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <button
                type="submit"
                class="btn btn-sm btn-success float-right"
              >
                {{%= __('Submit') %}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

{{%- include('../../components/ModalCreate', { idModal: "modalAddProductComponent", title: "Component", form: addProductComponentForm, size: "modal-lg" }) %}}
{{%- include('../../components/ModalDelete', { idModal: "modalDeleteProductComponent", title: "Component" }) %}}
{{%- include('../../components/ModalEdit', { idModal: "modalEditProductComponent", title: "Component", form: addProductComponentForm, size: "modal-lg" }) %}}

<script src="/public/assets/js/modules/products/new-product.js"></script>
