<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('Products') %}}
          <small class="text-muted">{{%= __('List') %}}</small>
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="/">{{%= __('Dashboard') %}}</a>
          </li>
          <li class="breadcrumb-item active">{{%= __('Products') %}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 col-sm-4 col-md-3">
        <div class="info-box">
          <span class="info-box-icon bg-primary elevation-1"
            ><i class="fas fa-desktop"></i
          ></span>

          <div class="info-box-content">
            <span class="info-box-text">{{%= __('Products') %}}</span>
            <span class="info-box-number">
              {{%= products.length %}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-desktop"></i>
              {{%= __('Products') %}}
            </h3>
            <div class="card-tools">
              <a
                href="/dashboard/products/new"
                class="btn btn-success"
                title="{{%= __('New Product') %}}"
              >
                <i class="fas fa-plus"></i> &nbsp; {{%= __('New Product') %}}
              </a>
            </div>
          </div>
          <div class="card-body">
            <table
              class="
                table table-bordered table-striped
                dataTable
                dataTableConfig
                dtr-inline
              "
              aria-describedby="dataTableConfig_info"
            >
              <thead>
                <tr role="row">
                  <th>#</th>
                  <th>{{%= __('Serial Number') %}}</th>
                  <th>{{%= __('Name') %}}</th>
                  <th>{{%= __('Description') %}}</th>
                  <th>{{%= __('Production Time') %}}<span class="text-muted"> ({{%= __('Weeks') %}})</span></th>
                  <th>{{%= __('Stock') %}}</th>
                  <th>{{%= __('Actions') %}}</th>
                </tr>
              </thead>
              <tbody>
                {{% products.forEach((row, i) => { %}}
                <tr class="odd">
                  <td>{{%= i + 1 %}}</td>
                  <td>
                    <a
                      href="/dashboard/products/{{%= row.id_product %}}"
                      >{{%= row.serial_number %}}</a
                    >
                  </td>
                  <td>{{%= row.name %}}</td>
                  <td>{{%= row.description %}}</td>
                  <td>{{%= row.production_time %}}</td>
                  <td>{{%= row.stock %}}</td>
                  <td>
                    <div class="column-actions">
                      <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalDeleteProduct"
                        data-id="{{%= row.id_product %}}"
                        class="btn btn-danger btn-xs"
                      >
                        <i class="fas fa-trash-alt"></i>
                      </a>
                      <!-- <a
                        href="#"
                        data-toggle="modal"
                        data-target="#modalEditProduct"
                        data-row="{{%# JSON.stringify(row) %}}"
                        data-id="{{%# row.id_product %}}"
                        class="btn btn-warning btn-xs"
                      >
                        <i class="fas fa-pen"></i>
                      </a> -->
                    </div>
                  </td>
                </tr>
                {{% }) %}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{%- include('../../components/ModalDelete', { idModal: "modalDeleteProduct", route:['/dashboard/products/','/delete'], title: "Product" }) %}}

<script src="/public/assets/js/modules/products/products.scripts.js"></script>
