<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('MPS') %}}
          <small
            class="text-muted"
            >{{%= __('Master Production Schedule') %}}</small
          >
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="/">{{%= __('Dashboard') %}}</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/dashboard/inventory">{{%= __('Inventory') %}}</a>
          </li>
          <li class="breadcrumb-item active">{{%= __('MPS') %}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="btn-group mb-3">
          <button type="button" class="btn btn-info">
            {{%= __('MPS') %}}
          </button>
          <button
            type="button"
            class="btn btn-info dropdown-toggle dropdown-icon"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="sr-only">{{%= __('Toggle Dropdown') %}}</span>
          </button>
          <div class="dropdown-menu">
            {{% all_mps.forEach((row, i) => { %}}
              <a class="dropdown-item {{%= year == row.year ? "active" : null %}}" href="/dashboard/inventory/{{%= id_component %}}/mps/{{%= row.year %}}">{{%= row.year %}}</a>
            {{% }) %}}
            <a
              href="/dashboard/inventory/{{%= id_component %}}/mps/new"
              class="dropdown-item bg-success"
              title="{{%= __('New MPS') %}}"
              style="text-align: center;"
            >
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              {{%= __('MPS') %}}
            </h3>
            <div class="card-tools">
              <ul class="nav nav-pills ml-auto">
                {{% mps_periods.forEach((row, i) => { %}}
                <li class="nav-item">
                  <a class="nav-link {{%= row.month == new Date().getMonth() ? "active" : "" %}}" href="#tab{{%= row.month %}}" data-toggle="tab">
                    {{%= __(_.getMonth(row.month)) %}}
                  </a>
                </li>
                {{% }) %}}
                <a
                  href="/dashboard/inventory/{{%= id_component %}}/mps/{{%= year %}}/new"
                  class="btn btn-success ml-2"
                  title="{{%= __('New Period') %}}"
                >
                  <i class="fas fa-plus"></i>
                </a>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content p-0">
              {{% mps_periods.forEach((row, i) => { %}}
                <div class="tab-pane {{%= row.month == new Date().getMonth() ? "active" : "" %}}" id="tab{{%= row.month %}}">
                  <table
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th></th>
                        <th>{{%= __('Quantity') %}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{%= __('Gross Requirement') %}}</td>
                        <td>{{%= row.gross_requirement %}}</td>
                      </tr>
                      <tr>
                        <td>{{%= __('Scheduled Receptions') %}}</td>
                        <td>{{%= row.scheduled_receptions %}}</td>
                      </tr>
                      <tr>
                        <td>{{%= __('Availability Projection') %}}</td>
                        <td>{{%= row.availability_projection %}}</td>
                      </tr>
                      <tr>
                        <td>{{%= __('Net Requirements') %}}</td>
                        <td>{{%= row.net_requirements %}}</td>
                      </tr>
                      <tr>
                        <td>{{%= __('Planned Order Release') %}}</td>
                        <td>{{%= row.planned_order_release %}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              {{% }) %}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
