<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>
          {{%= __('MPS') %}}
          <small
            class="text-muted"
            >{{%= __('Master Production Schedule') %}}</small
          >
        </h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <a href="/">{{%= __('Dashboard') %}}</a>
          </li>
          <li class="breadcrumb-item active">{{%= __('MPS') %}}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="btn-group mb-3">
          <button type="button" class="btn btn-info">
            {{%= __('Year') %}}
          </button>
          <button
            type="button"
            class="btn btn-info dropdown-toggle dropdown-icon"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            <span class="sr-only">{{%= __('Toggle Dropdown') %}}</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">{{%= new Date().getFullYear() %}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              {{%= __('MPS') %}}
            </h3>
            <div class="card-tools">
              <ul class="nav nav-pills ml-auto">
                {{% ["August","September","October","November","December"].forEach((row, i) => { %}}
                <li class="nav-item">
                  <a class="nav-link {{%= row == "July" ? "active" : "" %}}" href="#tab{{%= row %}}" data-toggle="tab">
                    {{%= row %}}
                  </a>
                </li>
                {{% }) %}}
                <a
                  href="/dashboard/products/new"
                  class="btn btn-success"
                  title="{{%= __('New Product') %}}"
                  style="margin-left: 0.5rem;"
                >
                  <i class="fas fa-plus"></i>
                </a>
              </ul>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content p-0">
              {{% ["January","February","March","April","May","June","July","August","September","October","November","December"].forEach((row, i) => { %}}
                <div class="tab-pane {{%= row == "July" ? "active" : "" %}}" id="tab{{%= row %}}"><p>{{%= row %}}</p></div>
              {{% }) %}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
