{{% 
    var
        name = name || "",
        label = label || "",
        options = options || { arr:[], value: "", label: "" },
        isRequired = isRequired || false,
        isDisabled = isDisabled || false,
        isMultiple = isMultiple || false,
        route = route || "",
        variant = variant || "normal";
%}}

{{% if (variant == "normal") { %}}
<div class="form-group">
  <label for="{{%= name %}}">
    {{%= label %}}{{% if (isRequired) { %}}<span class="is-required">*</span>{{% } %}}
  </label>
  <select
    class="form-control select2 select2-primary"
    data-dropdown-css-class="select2-primary"
    name="{{%= name %}}"
    {{%= isRequired ? 'required' : null %}}
    {{%= isDisabled ? 'disabled' : null %}}
    {{%= isMultiple ? `multiple="multiple"` : null %}}
  >
    {{% if (!isMultiple) { %}}
    <option value="" selected disabled hidden>{{%= __('Select here') %}}</option>
    {{% } %}}
    {{% options.arr.forEach(option => { %}}
    <option value="{{%= option[options.value] %}}">
      {{%= option[options.label] %}}
    </option>
    {{% }) %}}
  </select>
</div>
{{% } else if (variant == "with-add-button") { %}}
<div class="form-group">
  <label for="{{%= name %}}">
    {{%= label %}}{{% if (isRequired) { %}}<span class="is-required">*</span>{{% } %}}
  </label>
  <div class="input-group">
    <span class="input-group-prepend btn-flat">
      <a
        class="btn btn-success"
        target="_blank"
        href="{{%= route %}}"
      >
        <i class="fas fa-plus-circle"></i>
      </a>
    </span>
    <select
      class="form-control select2 select2-primary"
      data-dropdown-css-class="select2-primary"
      name="{{%= name %}}" 
      {{%= isRequired ? 'required' : null %}}
      {{%= isDisabled ? 'disabled' : null %}}
      {{%= isMultiple ? `multiple="multiple"` : null %}}
    >
      {{% if (!isMultiple) { %}}
      <option value="" selected disabled hidden>{{%= __('Select here') %}}</option>
      {{% } %}}
      {{% options.arr.forEach(option => { %}}
      <option value="{{%= option[options.value] %}}">
        {{%= option[options.label] %}}
      </option>
      {{% }) %}}
    </select>
  </div> 
</div>
{{% } %}}
