{{%
    var
        name = name || "",
        label = label || "",
        isRequired = isRequired || false,
        isDisabled = isDisabled || false,
        variant = variant || "normal",
        cols = cols || 30,
        rows = rows || 10;
%}}

{{% if (variant == "normal") { %}}
<div class="form-group">
  <label for="{{%= name %}}">
    {{%= label %}}{{% if (isRequired) { %}}<span class="is-required">*</span
    >{{% } %}}
  </label>
  <textarea
    class="form-control"
    name="{{%= name %}}"
    cols="{{%= cols %}}"
    rows="{{%= rows %}}"
    {{%= isRequired ? 'required' : null %}}
    {{%= isDisabled ? 'disabled' : null %}}
  ></textarea>
</div>
{{% } %}}
