<!DOCTYPE html>
<html lang="en">
  <head>
    {{%- include('./partials/head') %}}
  </head>

  <body class="hold-transition sidebar-mini {{%= dark_mode ? null : "dark-mode" %}} layout-fixed layout-navbar-fixed">
    <!-- Preloader -->
    <div
      class="preloader flex-column justify-content-center align-items-center"
    >
      <img
        class="animation__shake"
        src="/public/assets/imgs/logo.png"
        alt="Logo"
        height="60"
        width="60"
      />
    </div>

    <div class="wrapper">
      {{%- include('./partials/header') %}}
      {{%- include('./partials/sidebar') %}}
      <div class="content-wrapper">
        <div id="toastsContainerTopRight" class="toasts-top-right fixed"></div>
        {{%- body %}}
      </div>
      {{%- include('./partials/footer') %}}
    </div>

    {{%- include('./partials/js') %}}
    {{%- script %}}
  </body>
</html>
