<!DOCTYPE html>
<html lang="en">
  <head>
    {{%- include('./partials/head') %}}
  </head>

  <body class="hold-transition {{%= dark_mode ? null : "dark-mode" %}} login-page">
    <!-- Preloader -->
    <div
      class="preloader flex-column justify-content-center align-items-center"
    >
      <img
        class="animation__wobble"
        src="/public/assets/imgs/logo.png"
        style="
          position: absolute;
          top: calc(50% - 30px);
          left: calc(50% - 30px);
          z-index: 10000;
        "
        alt="Logo"
        height="60"
        width="60"
      />
      <div id="burst-12"></div>
    </div>

    {{%- body %}}

    {{%- include('./partials/js') %}}
    {{%- include('./partials/messages') %}}
  </body>
</html>
