<!DOCTYPE html>
<html lang="en">
  <head>
    {{%- include('./partials/head') %}}
  </head>

  <body class="hold-transition {{%= dark_mode ? null : "dark-mode" %}} login-page">
    <!-- Preloader -->
    <div
      class="preloader flex-column justify-content-center align-items-center"
    >
      <img
        src="/public/assets/imgs/logo.png"
        style="
          position: absolute;
          top: calc(50% - 35px);
          left: calc(50% - 35px);
          z-index: 10000;
        "
        alt="Logo"
        height="70"
        width="70"
      />
      <div class="gear animation__spin">
        <div class="center"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
      </div> 
    </div>

    {{%- body %}}

    {{%- include('./partials/js') %}}
    {{%- include('./partials/messages') %}}
  </body>
</html>
