{{%
  var
    form = form || [];
%}}
{{% form.forEach((row, i) => { %}}
<div class="row">
  {{% row.forEach((column, j) => { %}}
  {{% if (column) { %}}
  <div class="col">
    {{%- include(`./inputs/${column.componentName}`, { ...column.options }) %}}
  </div>
  {{% } %}}
  {{% }) %}}
</div>
{{% }) %}}
