{{%
  var
    form = form || [];
%}}
{{% form.forEach((row, i) => { %}}
{{% if (row.length > 0 && row.length <= 4 || row.length == 6) { %}}
<div class="row">
  {{% row.forEach((column, j) => { %}}
  <div class="col-{{%= 12 / row.length %}}">
    {{%- include(`./inputs/${column.componentName}`, { ...column.options }) %}}
  </div>
  {{% }) %}}
</div>
{{% } else { %}}
{{% row.forEach((column, j) => { %}}
<div class="col-12">
  {{%- include(`./inputs/${column.componentName}`, { ...column.options }) %}}
</div>
{{% }) %}}
{{% } %}}
{{% }) %}}
