{{%
  var
    idModal = idModal || "modalDelete",
    route = route || ['',''];
%}}

<div class="modal fade" id="{{%= idModal %}}">
  <div class="modal-dialog">
    <div class="modal-content bg-danger">
      <div class="modal-header">
        <h4 class="modal-title">{{%= __('Be careful') %}}!</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{%= __('Are you sure that you want to delete this item') %}}?</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="button"
          class="btn btn-outline-light"
          data-dismiss="modal"
        >
          {{%= __('Cancel') %}}
        </button>
        <a
          href="#"
          id="buttonDelete"
          class="btn btn-outline-light"
          >{{%= __('Yes') %}}</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  $("#{{%= idModal %}}").on("show.bs.modal", function (event) {
    var button = $(event.relatedTarget);
    var id = button.data("id");
    var modal = $(this);
    var object = button.data("object");

    modal
      .find("#buttonDelete")
      .attr("href", "{{%= route[0] %}}" + id + "{{%= route[1] %}}");
  });
</script>
